.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: aliceblue;
}

.card {
  width: 400px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.firebaseui-container {
  margin-top: 20px;
}
